# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\joanna\Desktop\iNFORMATORIO\Informatorio-2020\Java\Infor-Java\Parte1\complementarios level 2\Ejercicio5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
